

#showcase-text{
    height: 100vh;
    background-color: rgb(4, 119, 148);
}

#nav-area{
    background-color: rgb(4, 119, 148);
}

#apply-btn{
    width: 100%;
}

#car-icon{
    font-size: 5em;
    color: rgb(4, 119, 148);
}

#house-icon{
    font-size: 5em;
    color: rgb(4, 119, 148);
}

#office-icon{
    font-size: 5em;
    color: rgb(4, 119, 148);
}

#projection-section{
    background-color: rgb(169, 235, 252);
}

#project-img{
    width: 80%;
    background-color: yellow;
}

/* #discount-card{
    width: 40%;
    height: 40%;
    background-color: green;
    
} */

#hand-icon{
    font-size: 4em;
}

#lock-icon{
    font-size: 4em;
}

#clock-icon{
    font-size: 4em;
}

#cash-icon{
    font-size: 4em;
}

#loan-section{
    background-color: rgb(248, 232, 232);
}

#loan-image{
    width: 80%;
}