/* navigation  */
#nav-area{
    background-color: rgb(12, 171, 211);
}

/* #navbarSupportedContent{
    background-color: rgb(2, 77, 39);
} */

/* showcase section  */
#showcase{
    background-color: rgb(12, 171, 211);
    background-image: url(../img/house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#section-right-heading{
    font-size: 3em;
}

#line-break-in-left-section{
    height: 4px;
    background-color: white;
    width: 20%;
    border: none;
}

#line-break-in-right-section{
    height: 4px;
    background-color: rgb(2, 77, 39);
    width: 40%;
    /* border: none; */
}

/* solution section  */
#line-break-in-solution-section{
    height: 4px;
    background-color: rgb(2, 77, 39);
    width: 20%;
    /* border: none; */
}

#car-icon{
    font-size: 5em;
    color: rgb(4, 119, 148);
}

#house-icon{
    font-size: 5em;
    color: rgb(4, 119, 148);
}

#office-icon{
    font-size: 5em;
    color: rgb(4, 119, 148);
}


/* projection section  */
#projection-section{
    background-color: rgb(223, 245, 253);
}

#project-img{
    width: 30%;
    height: 50%;
    /* background-color: yellow; */
}

#discount-tag{
    width: 40%;
    height: 40%;
    background-color: rgb(2, 77, 39);
    padding: 20px;
}

#hand-icon{
    font-size: 4em;
}

#lock-icon{
    font-size: 4em;
}

#clock-icon{
    font-size: 4em;
}

#cash-icon{
    font-size: 4em;
}

#loan-section{
    background-color: rgb(223, 245, 253);
}

#loan-image{
    width: 80%;
}

.car-img{
    height: 40%;
}

/* testimonial section  */
#carousel-section{
    background-color: rgb(2, 77, 39);
}

#footer-nav{
    background-color: rgb(223, 245, 253);
}

#copyright{
    background-color: rgb(223, 245, 253);
}