#nav-container{
    /* background-color: rgb(19, 219, 142); */
    background-color: rgb(6, 224, 224);
    /* color: white; */
}

/* #nav-container .container{
    color: white;
} */

#showcase-section{
    background-color: rgb(6, 224, 224);
}